<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy 
3. Pandas
4. Matplotlib

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|     
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python
Arthematic Expressions
1. Addition (+) 
   Example=(2+3)=5 
2. Substraction (-)
   Example=(5-3)=2
3. Multiplication (x)
   Example(2x3)=6
4. Division (/)
   Example=(10/5)=2

In [2]:
# This a simple arithmetic expression to mutiply then add integers
a=(3*4)+5
print(a)

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
min=200
h=int(min/60)
m=min%60
print(f"{h} Hours {m} Minute " )

3 Hours 20 Minute

**Objectives:** Covered in the notebook
*  Popular languages that Data Scientists use
*  Libraries used by Data Scientists
*  Data Science Tools

## Author
Suhas venkat